body {
	min-height: 100vh;
}

/* main container */
.flex-fill {
	flex: 1 1 auto;
}

/* main container */
main {
	padding: 40px 40px 40px 40px;
	background-image: url(../screenshots/sky.jpg);
	background-size: 100% auto;
	background-repeat: repeat;
	background-position: top;
}

/* footer */
footer {
	bottom: 0;
	width: 100%;
	/* font-family: Rubik, sans-serif; */
	font-weight: 400;
	font-size: 15px;
}

footer .footer-big {
	padding: 20px 0 10px 0;
	width: 100%;
	background: rgba(176, 230, 227, 0.253);
}

footer ul {
	padding: 0;
	margin: 0;
}

footer li {
	list-style: none;
}

footer a {
	color: #a2a3aa;
}

footer a:focus,
a:hover {
	text-decoration: none;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	color: #003d76;
}

footer h3 {
	/* font-family: Rubik, sans-serif; */
	margin: 0;
	font-weight: 400;
	padding: 0;
	color: #363940;
}

footer .widget-about img {
	display: block;
	margin-bottom: 30px;
	margin-top: 10px;
}

footer .mini-footer {
	background: #003d76;
	text-align: center;
	padding: 10px 0;
}
footer .mini-footer p {
	margin: 0;
	line-height: 26px;
	/* font-size: 15px; */
	color: #fff;
}
footer .mini-footer p a {
	color: #7dc1ff;
}
footer .mini-footer p a:hover {
	color: #34bfa3;
}

footer .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
/* end footer */

.card {
	padding: 40px 40px;
	min-height: 50vh;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card.login-form,
.card.register-form,
.card.forgetpassword-form,
.card.resetpassword-form {
	max-width: 500px;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 20px;
}

/* .card.register-form {
	max-width: 500px;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 20px;
} */

.register-form a {
	color: #007bff;
}

.card.view-application-form {
	max-width: 1200px;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 20px;
}

.card.add-admin-form {
	max-width: 800px;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 20px;
}

.card.homepage-form {
	max-width: 1200px;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 20px;
	font-size: 15px;
}

.card.status-form {
	width: 90%;
	padding: 20px 25px 30px;
	margin: 25px auto 25px;
	margin-top: 20px;
}

.card a {
	color: #003d76;
}

.card a:hover {
	color: #7dc1ff;
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.flex-box.status-form {
	display: flex;
	flex-direction: row;
	flex-grow: 1 4;
	align-content: space-between;
}

.flex-box > div {
	margin: 5px;
}

.flex-box > div.tab-content {
	margin-left: 100px;
}

/* all form */
form label {
	color: #003d76;
}

/* All page title image */
.page-title img {
	border-radius: 50%;
}

/* All page title image */
.page-title {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 600;
	font-size: x-large;
	color: #003d76;
}

#nav-tabContent {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

#pills-tabContent {
	padding-top: 20px;
	padding-bottom: 20px;
}

.view-application-form .col-sm-3 {
	color: #003d76;
	font-weight: 500;
}

.view-application-form .table-responsive,
.auswahl-form .table-responsive {
	font-size: 15px;
	padding-top: 20px;
}

.auswahl-form .table-responsive {
	text-align: center;
}

.breadcrumb {
	font-size: 15px;
	background-color: #a7ccf0;
}

.homepage-form .content {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.title-button {
	padding-top: 20px;
	padding-bottom: 20px;
}

.stepper {
	display: flex;
	align-items: center;
}

.stepper-item {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #6c757d;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: none;
	border-radius: 1rem;
	transition: background-color .15s ease-out, color .15s ease-out;
}

.stepper-line {
	flex: 20 0 1px;
	min-width: 1px;
	min-height: 1px;
	margin: auto;
	background-color: rgba(0, 0, 0, .12);
	flex-basis: 20px;
}

.stepper-circle {
	display: inline-flex;
	content: '✔';
	align-content: center;
	justify-content: center;
	width: 1.5em;
	height: 1.5em;
	padding: .5em .5em .5em .5em;
	/* margin: .25rem; */
	line-height: 0.60em;
	color: #fff;
	background-color: #6c757d;
	border-radius: 1em;
	/* background: url(../screenshots/check.svg) no-repeat center center;
	background-size: contain; */
	/* background-size: 100px 82px; */
}

.stepper-svg {
	/* display: block;
	width: 100px;
	height: 80px;
	background: url(../screenshots/check.svg) no-repeat; */
}

.stepper-label {
	display: inline-block;
	margin: .25rem;
}

.stepper-item.complete .stepper-circle {
	background-color: #14ca2c;
}

.stepper-item.complete .stepper-label {
	color: #14ca2c;
}

.stepper-item.active .stepper-label {
	color: #5691c9;
}
.stepper-item.active .stepper-circle {
	background-color: #5691c9;
}

.stepper-item.next .stepper-label {
	color: #003d76;
}
.stepper-item.next .stepper-circle {
	background-color: #003d76;
}

.stepper-link:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.stepper-link.disabled {
	pointer-events: none;
	opacity: .65;
}

.stepper-link:focus {
	color: #007bff;
	outline: none;
}

.stepper-link:hover {
	text-decoration: none;
	background-color: rgba(0, 0, 0, .06);
}

@media (max-width: 1200px) {
	.stepper-item {
		flex-direction: column;
		padding: 10px;
	}

	.stepper {
		margin: 0 -10px;
		text-align: center;
	}
}

@media (max-width: 800px) {
	.stepper-item.disabled .stepper-label,
	.stepper-item.complete .stepper-label {
		display: none;
	}

	footer .container {
		flex-direction: column;
	}
}

.admin-dashboard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.form-control-sm {
	font-size: 16px;
}

.dashboard-flex-item {
	background-color: #fff;
	padding: 30px;
	width: 20rem;
	margin: 20px;
}

.dashboard-flex-item p,
.dashboard-flex-item a {
	font-size: 16px;
}

.dashboard-flex-item a {
	color: #fff;
	background-color: #1f63a3;
}
