body {
	min-height: 100vh;
}

/* main container */
.flex-fill {
	flex: 1 1 auto;
}

/* main container */
main {
	padding: 40px 40px 40px 40px;
	background-image: url(../screenshots/sky.jpg);
	background-size: 100% auto;
	background-repeat: repeat;
	background-position: top;
}

/* footer */
footer {
	bottom: 0;
	width: 100%;
	font-family: Rubik, sans-serif;
	font-weight: 400;
	font-size: 15px;
}

footer .footer-big {
	padding: 20px 0 10px 0;
	width: 100%;
	background: rgba(176, 230, 227, 0.253);
}

footer ul {
	padding: 0;
	margin: 0;
}

footer li {
	list-style: none;
}

footer a {
	color: #a2a3aa;
}

footer a:focus,
a:hover {
	text-decoration: none;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	color: #003d76;
}

footer h4 {
	font-family: Rubik, sans-serif;
	margin: 0;
	font-weight: 400;
	padding: 0;
	color: #363940;
}

footer .widget-about img {
	display: block;
	margin-bottom: 30px;
	margin-top: 10px;
}

footer .mini-footer {
	background: #003d76;
	text-align: center;
	padding: 10px 0;
}
footer .mini-footer p {
	margin: 0;
	line-height: 26px;
	font-size: 15px;
	color: #fff;
}
footer .mini-footer p a {
	color: #7dc1ff;
}
footer .mini-footer p a:hover {
	color: #34bfa3;
}
/* end footer */

.card {
	padding: 40px 40px;
	min-height: 50vh;
	background-color: rgba(255, 255, 255, 0.8);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card.login-form {
	max-width: 500px;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
}

.card.register-form {
	max-width: 500px;
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
}

.card.status-form {
	width: 90%;
	padding: 20px 25px 30px;
	margin: 25px auto 25px;
	/* margin-top: 50px; */
}

.card a {
	color: #003d76;
}

.card a:hover {
	color: #7dc1ff;
}

.profile-img-card {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.flex-box.status-form {
	display: flex;
	flex-direction: row;
	flex-grow: 1 4;
	align-content: space-between;
}

.flex-box > div {
	margin: 5px;
}

.flex-box > div.tab-content {
	margin-left: 100px;
}

/* all form */
form label {
	color: #003d76;
}

/* All page title image */
.page-title img {
	border-radius: 50%;
}

/* All page title image */
.page-title {
	padding-top: 20px;
	padding-bottom: 40px;
	font-weight: 600;
	font-size: x-large;
	color: #003d76;
}

#nav-tabContent {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;
}
